
# Eclipse files
.project
bin/.*

# jar file: don't commit it all the time, just build it after downloading src code
bin/TuLiPA.jar

# put your grammars in resources and keep them private
resources/**
!resources/test_grammar/**

# put your test scripts in run and keep some of them private
run/ 
!run/test.sh

# ignore class files 
bin/**
!TuLiPA-frames.jar
