
# Eclipse files
.project
bin/.*

# intellij
.idea
TuLiPA-frames.iml

# jar file: don't commit it all the time, just build it after downloading src code
bin/TuLiPA.jar

# put your grammars in resources and keep them private
resources/**
!resources/test_rrg/**
!resources/test_grammar/**

# put your test scripts in run and keep some of them private.
run/ 
!run/test_rrg.sh
!run/test.sh


# ignore class files 
bin/**
!TuLiPA-frames.jar

# backup dirs for experiments
experiments/**
tmp/**
